<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
    <!-- wp:template-part {"slug":"header","theme":"jaxon","tagName":"header","align":"full"} /-->

    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"48px","bottom":"48px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px;padding-top:48px;padding-bottom:48px">
        <!-- wp:columns {"align":"wide"} -->
        <div class="wp-block-columns alignwide">
            <!-- wp:column {"verticalAlignment":"center","width":"50%"} -->
            <div class="wp-block-column is-vertically-aligned-center" style="flex-basis:50%">
                <!-- wp:heading {"level":6,"style":{"typography":{"textTransform":"uppercase"}},"textColor":"ti-accent"} -->
                <h6 class="has-ti-accent-color has-text-color" style="text-transform:uppercase">Starting from $347</h6>
                <!-- /wp:heading -->

                <!-- wp:heading {"level":1} -->
                <h1>New Autumn Collection</h1>
                <!-- /wp:heading -->

                <!-- wp:paragraph -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore.
                </p>
                <!-- /wp:paragraph -->

                <!-- wp:buttons {"fontSize":"normal"} -->
                <div class="wp-block-buttons has-custom-font-size has-normal-font-size">
                    <!-- wp:button -->
                    <div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Shop Now</a></div>
                    <!-- /wp:button -->
                </div>
                <!-- /wp:buttons -->

                <!-- wp:spacer {"height":"20px"} -->
                <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->
            </div>
            <!-- /wp:column -->

            <!-- wp:column -->
            <div class="wp-block-column">
                <!-- wp:group {"style":{"border":{"radius":{"topLeft":"160px","topRight":"0px","bottomLeft":"0px","bottomRight":"160px"}},"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
                <div class="wp-block-group has-white-background-color has-background"
                    style="border-top-left-radius:160px;border-top-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:160px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
                    <!-- wp:image {"align":"center","id":389,"width":466,"height":675,"sizeSlug":"full","linkDestination":"none","className":"is-style-default"} -->
                    <figure class="wp-block-image aligncenter size-full is-resized is-style-default"><img
                            src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/jaxon-main-image-9.png"
                            alt="" class="wp-image-389" width="466" height="675" /></figure>
                    <!-- /wp:image -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"40px","bottom":"40px","right":"0"},"blockGap":"var:preset|spacing|80","margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"ti-accent","textColor":"ti-fg-alt","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull has-ti-fg-alt-color has-ti-accent-background-color has-text-color has-background"
        style="margin-top:0px;margin-bottom:0px;padding-top:40px;padding-right:0;padding-bottom:40px">
        <!-- wp:columns {"verticalAlignment":"center","align":"wide"} -->
        <div class="wp-block-columns alignwide are-vertically-aligned-center">
            <!-- wp:column {"verticalAlignment":"center"} -->
            <div class="wp-block-column is-vertically-aligned-center">
                <!-- wp:image {"id":275,"width":134,"height":35,"sizeSlug":"full","linkDestination":"none"} -->
                <figure class="wp-block-image size-full is-resized"><img
                        src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/jaxon-placeholder-logo-05.1.png"
                        alt="" class="wp-image-275" width="134" height="35" /></figure>
                <!-- /wp:image -->
            </div>
            <!-- /wp:column -->

            <!-- wp:column {"verticalAlignment":"center"} -->
            <div class="wp-block-column is-vertically-aligned-center">
                <!-- wp:image {"id":276,"width":108,"height":27,"sizeSlug":"full","linkDestination":"none"} -->
                <figure class="wp-block-image size-full is-resized"><img
                        src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/jaxon-placeholder-logo-04.1.png"
                        alt="" class="wp-image-276" width="108" height="27" /></figure>
                <!-- /wp:image -->
            </div>
            <!-- /wp:column -->

            <!-- wp:column {"verticalAlignment":"center"} -->
            <div class="wp-block-column is-vertically-aligned-center">
                <!-- wp:image {"id":278,"width":140,"height":36,"sizeSlug":"full","linkDestination":"none"} -->
                <figure class="wp-block-image size-full is-resized"><img
                        src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/jaxon-placeholder-logo-01.1.png"
                        alt="" class="wp-image-278" width="140" height="36" /></figure>
                <!-- /wp:image -->
            </div>
            <!-- /wp:column -->

            <!-- wp:column {"verticalAlignment":"center"} -->
            <div class="wp-block-column is-vertically-aligned-center">
                <!-- wp:image {"id":277,"width":149,"height":45,"sizeSlug":"full","linkDestination":"none"} -->
                <figure class="wp-block-image size-full is-resized"><img
                        src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/jaxon-placeholder-logo-02.1.png"
                        alt="" class="wp-image-277" width="149" height="45" /></figure>
                <!-- /wp:image -->
            </div>
            <!-- /wp:column -->

            <!-- wp:column {"verticalAlignment":"center"} -->
            <div class="wp-block-column is-vertically-aligned-center">
                <!-- wp:image {"id":274,"width":137,"height":36,"sizeSlug":"full","linkDestination":"none"} -->
                <figure class="wp-block-image size-full is-resized"><img
                        src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/jaxon-placeholder-logo-03.1.png"
                        alt="" class="wp-image-274" width="137" height="36" /></figure>
                <!-- /wp:image -->
            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"64px","bottom":"64px"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"ti-bg","layout":{"type":"constrained","wideSize":"1170px"}} -->
    <div class="wp-block-group alignfull has-ti-bg-background-color has-background"
        style="margin-top:0px;margin-bottom:0px;padding-top:64px;padding-bottom:64px">
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group">
            <!-- wp:group {"layout":{"type":"constrained"}} -->
            <div class="wp-block-group">
                <!-- wp:heading {"textAlign":"center"} -->
                <h2 class="has-text-align-center">Popular Categories</h2>
                <!-- /wp:heading -->

                <!-- wp:paragraph {"align":"center"} -->
                <p class="has-text-align-center">Volutpat aliquet lorem sed dui eu, fermentum ornare quam. pulvinar neque et quam placerat vestibulum congue et sem at laoreet scelerisque turpis.</p>
                <!-- /wp:paragraph -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"64px","bottom":"64px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
        <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:64px;padding-bottom:64px">
            <!-- wp:columns {"align":"wide"} -->
            <div class="wp-block-columns alignwide">
                <!-- wp:column {"verticalAlignment":"center"} -->
                <div class="wp-block-column is-vertically-aligned-center">
                    <!-- wp:group {"style":{"border":{"radius":"8px"},"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"0"}}},"backgroundColor":"ti-bg-alt","layout":{"type":"constrained"}} -->
                    <div class="wp-block-group has-ti-bg-alt-background-color has-background"
                        style="border-radius:8px;padding-top:var(--wp--preset--spacing--60);padding-bottom:0">
                        <!-- wp:image {"align":"center","id":422,"sizeSlug":"full","linkDestination":"none"} -->
                        <figure class="wp-block-image aligncenter size-full"><img
                                src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/1.2.png" alt=""
                                class="wp-image-422" /></figure>
                        <!-- /wp:image -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:paragraph {"align":"center"} -->
                    <p class="has-text-align-center"><a href="#">Elegant</a></p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"verticalAlignment":"center"} -->
                <div class="wp-block-column is-vertically-aligned-center">
                    <!-- wp:group {"style":{"border":{"radius":"8px"},"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"0"}}},"backgroundColor":"ti-bg-alt","layout":{"type":"constrained"}} -->
                    <div class="wp-block-group has-ti-bg-alt-background-color has-background"
                        style="border-radius:8px;padding-top:var(--wp--preset--spacing--60);padding-bottom:0">
                        <!-- wp:image {"align":"center","id":426,"sizeSlug":"full","linkDestination":"none"} -->
                        <figure class="wp-block-image aligncenter size-full"><img
                                src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/2.2.png" alt=""
                                class="wp-image-426" /></figure>
                        <!-- /wp:image -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:paragraph {"align":"center"} -->
                    <p class="has-text-align-center"><a href="#">Casual</a></p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"verticalAlignment":"center"} -->
                <div class="wp-block-column is-vertically-aligned-center">
                    <!-- wp:group {"style":{"border":{"radius":"8px"},"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"0"}}},"backgroundColor":"ti-bg-alt","layout":{"type":"constrained"}} -->
                    <div class="wp-block-group has-ti-bg-alt-background-color has-background"
                        style="border-radius:8px;padding-top:var(--wp--preset--spacing--60);padding-bottom:0">
                        <!-- wp:image {"align":"center","id":424,"sizeSlug":"full","linkDestination":"none"} -->
                        <figure class="wp-block-image aligncenter size-full"><img
                                src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/4.2.png" alt=""
                                class="wp-image-424" /></figure>
                        <!-- /wp:image -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:paragraph {"align":"center"} -->
                    <p class="has-text-align-center"><a href="#">Winter</a></p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"verticalAlignment":"center"} -->
                <div class="wp-block-column is-vertically-aligned-center">
                    <!-- wp:group {"style":{"border":{"radius":"8px"},"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"0"}}},"backgroundColor":"ti-bg-alt","layout":{"type":"constrained"}} -->
                    <div class="wp-block-group has-ti-bg-alt-background-color has-background"
                        style="border-radius:8px;padding-top:var(--wp--preset--spacing--60);padding-bottom:0">
                        <!-- wp:image {"align":"center","id":425,"sizeSlug":"full","linkDestination":"none"} -->
                        <figure class="wp-block-image aligncenter size-full"><img
                                src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/6.2.png" alt=""
                                class="wp-image-425" /></figure>
                        <!-- /wp:image -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:paragraph {"align":"center"} -->
                    <p class="has-text-align-center"><a href="#">Decollete</a></p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"64px","bottom":"64px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"40px"}},"layout":{"inherit":true,"type":"constrained"},"otterConditions":[]} -->
    <div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px;padding-top:64px;padding-bottom:64px">
        <!-- wp:heading {"textAlign":"center"} -->
        <h2 class="has-text-align-center">Product Reviews</h2>
        <!-- /wp:heading -->

        <!-- wp:group {"align":"wide","otterConditions":[]} -->
        <div class="wp-block-group alignwide">
            <!-- wp:columns -->
            <div class="wp-block-columns">
                <!-- wp:column {"style":{"spacing":{"blockGap":"0px"},"border":{"width":"0px","style":"none"}},"backgroundColor":"raft-bg"} -->
                <div class="wp-block-column has-raft-bg-background-color has-background"
                    style="border-style:none;border-width:0px">
                    <!-- wp:image {"id":308,"sizeSlug":"full","linkDestination":"none","style":{"border":{"radius":{"topLeft":"8px","topRight":"8px"}}}} -->
                    <figure class="wp-block-image size-full has-custom-border"><img
                            src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/jaxon-col-section-1.png"
                            alt="" class="wp-image-308"
                            style="border-top-left-radius:8px;border-top-right-radius:8px" /></figure>
                    <!-- /wp:image -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"32px","right":"32px","bottom":"32px","left":"32px"}},"border":{"radius":{"bottomLeft":"8px","bottomRight":"8px"}}},"backgroundColor":"ti-bg-alt","layout":{"type":"constrained"}} -->
                    <div class="wp-block-group has-ti-bg-alt-background-color has-background"
                        style="border-bottom-left-radius:8px;border-bottom-right-radius:8px;padding-top:32px;padding-right:32px;padding-bottom:32px;padding-left:32px">
                        <!-- wp:heading {"level":3} -->
                        <h3>Viavi Shirt</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore.</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:buttons -->
                        <div class="wp-block-buttons">
                            <!-- wp:button -->
                            <div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Read
                                    more</a></div>
                            <!-- /wp:button -->
                        </div>
                        <!-- /wp:buttons -->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"style":{"spacing":{"blockGap":"0px"}},"backgroundColor":"raft-bg"} -->
                <div class="wp-block-column has-raft-bg-background-color has-background">
                    <!-- wp:image {"id":307,"sizeSlug":"full","linkDestination":"none","style":{"border":{"radius":{"topLeft":"8px","topRight":"8px"}}}} -->
                    <figure class="wp-block-image size-full has-custom-border"><img
                            src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/jaxon-col-section-2.png"
                            alt="" class="wp-image-307"
                            style="border-top-left-radius:8px;border-top-right-radius:8px" /></figure>
                    <!-- /wp:image -->

                    <!-- wp:group {"style":{"spacing":{"padding":{"top":"32px","right":"32px","bottom":"32px","left":"32px"}},"border":{"radius":{"bottomLeft":"8px","bottomRight":"8px"}}},"backgroundColor":"ti-bg-alt","layout":{"type":"constrained"}} -->
                    <div class="wp-block-group has-ti-bg-alt-background-color has-background"
                        style="border-bottom-left-radius:8px;border-bottom-right-radius:8px;padding-top:32px;padding-right:32px;padding-bottom:32px;padding-left:32px">
                        <!-- wp:heading {"level":3} -->
                        <h3>Colorful Hoodie</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore.</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:buttons -->
                        <div class="wp-block-buttons">
                            <!-- wp:button -->
                            <div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Read
                                    more</a></div>
                            <!-- /wp:button -->
                        </div>
                        <!-- /wp:buttons -->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"64px","bottom":"64px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"64px"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px;padding-top:64px;padding-bottom:64px">
        <!-- wp:post-content /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"64px","bottom":"64px"},"blockGap":"24px","margin":{"top":"0px","bottom":"0px"}}},"textColor":"ti-fg-alt","layout":{"inherit":true,"type":"constrained"},"otterConditions":[]} -->
    <div class="wp-block-group alignfull has-ti-fg-alt-color has-text-color"
        style="margin-top:0px;margin-bottom:0px;padding-top:64px;padding-bottom:64px">
        <!-- wp:group {"align":"wide","style":{"border":{"radius":"8px"},"spacing":{"padding":{"top":"var:preset|spacing|70","right":"var:preset|spacing|40","bottom":"var:preset|spacing|70","left":"var:preset|spacing|40"}}},"backgroundColor":"ti-bg-inv","layout":{"type":"constrained"}} -->
        <div class="wp-block-group alignwide has-ti-bg-inv-background-color has-background"
            style="border-radius:8px;padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--40)">
            <!-- wp:heading {"textAlign":"center"} -->
            <h2 class="has-text-align-center">Clients Testimonials</h2>
            <!-- /wp:heading -->

            <!-- wp:spacer {"height":"20px"} -->
            <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:columns {"align":"wide"} -->
            <div class="wp-block-columns alignwide">
                <!-- wp:column {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
                <div class="wp-block-column"
                    style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
                    <!-- wp:image {"align":"center","id":264,"sizeSlug":"full","linkDestination":"none","className":"is-style-rounded"} -->
                    <figure class="wp-block-image aligncenter size-full is-style-rounded"><img
                            src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/jaxon-avatar-03.png"
                            alt="" class="wp-image-264" /></figure>
                    <!-- /wp:image -->

                    <!-- wp:paragraph {"align":"center","fontSize":"small"} -->
                    <p class="has-text-align-center has-small-font-size">'<em>Lorem ipsum dolor sit amet consectetur
                            adipiscing elit, sed do eiusmod</em>'</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:heading {"textAlign":"center","level":6} -->
                    <h6 class="has-text-align-center">Maria G.</h6>
                    <!-- /wp:heading -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
                <div class="wp-block-column"
                    style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
                    <!-- wp:image {"align":"center","id":262,"sizeSlug":"full","linkDestination":"none","className":"is-style-rounded"} -->
                    <figure class="wp-block-image aligncenter size-full is-style-rounded"><img
                            src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/jaxon-avatar-01.png"
                            alt="" class="wp-image-262" /></figure>
                    <!-- /wp:image -->

                    <!-- wp:paragraph {"align":"center","fontSize":"small"} -->
                    <p class="has-text-align-center has-small-font-size">'<em>Lorem ipsum dolor sit amet consectetur
                            adipiscing elit, sed do eiusmod</em>'</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:heading {"textAlign":"center","level":6} -->
                    <h6 class="has-text-align-center">Sonya A.</h6>
                    <!-- /wp:heading -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
                <div class="wp-block-column"
                    style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
                    <!-- wp:image {"align":"center","id":263,"sizeSlug":"full","linkDestination":"none","className":"is-style-rounded"} -->
                    <figure class="wp-block-image aligncenter size-full is-style-rounded"><img
                            src="https://demosites.io/jaxon/wp-content/uploads/sites/674/2022/12/jaxon-avatar-02.png"
                            alt="" class="wp-image-263" /></figure>
                    <!-- /wp:image -->

                    <!-- wp:paragraph {"align":"center","fontSize":"small"} -->
                    <p class="has-text-align-center has-small-font-size">'<em>Lorem ipsum dolor sit amet consectetur
                            adipiscing elit, sed do eiusmod</em>'</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:heading {"textAlign":"center","level":6} -->
                    <h6 class="has-text-align-center">Elena S.</h6>
                    <!-- /wp:heading -->
                </div>
                <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"64px","bottom":"64px"},"blockGap":"40px","margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px;padding-top:64px;padding-bottom:64px">
        <!-- wp:heading {"align":"wide"} -->
        <h2 class="alignwide">Latest Posts</h2>
        <!-- /wp:heading -->

        <!-- wp:query {"queryId":6,"query":{"perPage":3,"pages":"3","offset":0,"postType":"post","order":"desc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":3},"align":"wide"} -->
        <div class="wp-block-query alignwide">
            <!-- wp:post-template -->
            <!-- wp:post-featured-image {"style":{"border":{"radius":"8px"}}} /-->

            <!-- wp:post-date /-->

            <!-- wp:post-title {"level":3,"isLink":true} /-->
            <!-- /wp:post-template -->

            <!-- wp:query-no-results -->
            <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results.","backgroundColor":"ti-bg-alt"} -->
            <p class="has-ti-bg-alt-background-color has-background">No Posts were found</p>
            <!-- /wp:paragraph -->
            <!-- /wp:query-no-results -->
        </div>
        <!-- /wp:query -->
    </div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"jaxon","tagName":"footer","align":"full"} /-->
</main>
<!-- /wp:group -->